<!doctype html>
<html lang="en">
    <head>
        <title>
            My Personal Troll
        </title>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>


    <body>
        <h2>My Personal Troll</h2>
        <p>
            <input type=text name=textinput value="HC Strache">
            <button type="button" id="getfrominput">Get the troll's opinion!</button>
        </p>
        <p>
            <button type="button" id="getrandom">I'm feeling lucky!</button>
        </p>
        <textarea id="result" cols="38" rows="10" readonly>
        </textarea>


        <h3>Background</h3>
        <p>
            This (not serious!) project is based on a <a href="https://medium.com/deep-writing/harry-potter-written-by-artificial-intelligence-8a9431803da6">blog post</a> which recently went viral.
            The author trained an LSTM Recurrent Neural Network on the first four Harry Potter books and generated and used it to produce an additional chapter.
        </p>
        <p>
            Using their LSTM setup for <a href="https://github.com/hunkim/word-rnn-tensorflow">word-level language models</a>,
            this model is trained using a selected corpus of user postings/comments from an Austrian online newspaper.
        </p>
    <!-- SCRIPTS -->
        <script>
          $(function() {
            $('#getfrominput').click(function() {
              $("#result").text("loading...");
              $.getJSON('{{url_for('ui.mytroll')}}', {
                q: $('input[name="textinput"]').val()
              }).done(function(data) {
                $("#result").text(data.result);
              });
              return false;
            });
          });

          $(function() {
            $('#getrandom').click(function() {
              $("#result").text("loading...");
              $.getJSON('{{url_for('ui.mytroll')}}').done(function(data) {
                $("#result").text(data.result);
              });
              return false;
            });
          });
        </script>
    </body>
</html>